[submodule "asctec_mav_framework"]
	path = asctec_mav_framework
	url = https://github.com/ethz-asl/asctec_mav_framework.git
[submodule "glog_catkin"]
	path = glog_catkin
	url = https://github.com/ethz-asl/glog_catkin.git
[submodule "catkin_simple"]
	path = catkin_simple
	url = https://github.com/catkin/catkin_simple.git
[submodule "ethzasl_msf"]
	path = ethzasl_msf
	url = https://github.com/skybotix/ethzasl_msf.git
